%h2 代引き手数料の詳細

.card-group
  .card
    .card-header 開始価格
    .card-body.text-right= number_to_currency(@charge.price_from)
  .card
    .card-header 終了価格(未満)
    .card-body.text-right= number_to_currency(@charge.price_to)
  .card
    .card-header 手数料
    .card-body.text-right= number_to_currency(@charge.charge)

= link_to '戻る', admin_charges_path, class: 'btn btn-outline-secondary'
