.stripe-input {
  width: 280px;
  padding:8px;
  margin-bottom:5px;
  border: 1px solid #BBBBBB;
  border-radius:5px;
}
.stripe-submit {
  width: 280px;
  padding:8px;
  margin-bottom:20px;
}
#stripe_err {
  height: 30px;
  padding: 2px 0;
  color: #fa755a;
}
